/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require jquery-ui
 *= require social-share-button
 *= require_self
 */

$size: 40px;
.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
    margin: 0 5px;
  }
}

@import "semantic-ui";

body {
  padding-top: 52px;

  .breadcrumb {
    padding: 1em;
  }
}

.username {
  margin-left: .5em;
}
.top-bottom {
  margin: 3em 0;
}
.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }
.like.liked {
  &:before {
    color: #FF2733;
  }
}
.is-hidden{
  display: none;
}
