// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.entries.new {
  .main {
    padding: 2em 0;
  }
}

.entries.index, .entries.search {
  .main {
    padding: 2em 0;

    .entry-author-image {
      width: 1.3em;
      height: 1.3em;
      margin-right: .5em;
    }
  }
}

.entries.show {
  body {
    background: #fff;
  }

  .main {
    padding: 3em 0;

    &.container {
      margin-top: 2em
    }

    .menu {
      border-radius: 0;
      border: none;
      box-shadow: none;
      transition: box-shadow 0.5s ease, padding 0.5s ease;
    }

    .entry-body {
      padding: 3em;
      font-family: "ヒラギノ角ゴ Pro W3",メイリオ,Osaka,Arial,Verdana,"ＭＳ Ｐゴシック",sans-serif;
      font-size: 14px;
      line-height: 2.0em;
      letter-spacing: 0.8pt;
      color: #444;
      p, ol, ul, blockquote, pre, code {
        line-height: 18px;
        margin-bottom: 18px;
        /* 1.5em provides good vertical spacing ( = 150% of the font-size) */
        line-height: 1.5em;
        margin-bottom: 1.5em;
      }

      h1 {
      	color: #262626;
      	font-family: "Enriqueta", serif;
      	font-size: 44px;
      	line-height: 48px;
      	margin: 0 0 30px;
      }
      h2 {
      	color: #262626;
      	font-family: "Enriqueta", serif;
      	font-size: 32px;
      	font-weight: normal;
      	line-height: 42px;
      	margin: 0 0 24px;
      	padding: 12px 0 0;
      }
      h3 {
      	color: #c73036;
      	font-family: "Enriqueta", serif;
      	font-size: 18px;
      	font-weight: bold;
      	line-height: 24px;
      	margin: 0 0 24px;
      	padding: 12px 0 0;
      	text-transform: uppercase;
      }
      p {
      	color: #2f2f2f;
      	font-family: Georgia, serif;
      	font-size: 17px;
      	line-height: 24px;
      	margin: 0 0 24px;
      }
      .post-info {
      	color: #aaaaaa;
      	font-family: Georgia, serif;
      	font-size: 12px;
      	font-style: italic;
      	line-height: 12px;
      	padding: 24px 0;
      }
      .post-info a {
      	color: #c73036;
      	font-family: "Enriqueta", serif;
      	font-style: normal;
      	font-weight: bold;
      	text-decoration: none;
      	text-transform: uppercase;
      }
    }

    .comments-container {
      max-height: 300px;
      overflow-y: scroll;
    }
  }
}

.diff-view {
  .diff{
    overflow:auto;
    ul {
      background: #fff;
      overflow: auto;
      font-size: 13px;
      list-style: none;
      margin: 0;
      padding: 0;
      display: table;
      width: 100%;

      li {
        padding: 0;
        display: table-row;
        margin: 0;
        height: 1em;

        &.ins {
          background: #dfd;
          color: #080;
        }

        &.del {
          background: #fee;
          color: #b00;
        }

        &.diff-comment {
          display: none;
        }

        &.diff-block-info {
          background: none repeat scroll 0 0 grey;
        }
      }
    }
    del, ins {
      display: block;
      text-decoration: none;
    }
    del, ins, span {
      white-space: pre-wrap;
      font-family: courier;
    }
    del strong {
      font-weight: normal;
      background: #fcc;
    }
    ins strong {
      font-weight: normal;
      background: #9f9;
    }
  }
}
