// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.entries.new {
  .main {
    padding: 2em 0;
  }
}

.entries.index {
  .main {
    padding: 2em 0;

    .entry-author-image {
      width: 1.3em;
      height: 1.3em;
      margin-right: .5em;
    }
  }
}

.entries.show {
  body {
    background: #fff;
  }

  .main {
    padding: 3em 0;

    &.container {
      margin-top: 2em
    }

    .menu {
      border-radius: 0;
      border: none;
      box-shadow: none;
      transition: box-shadow 0.5s ease, padding 0.5s ease;
    }

    .entry-body {
      padding: 3em;
    }

    .comments-container {
      max-height: 300px;
      overflow-y: scroll;
    }
  }
}

.diff-view {
  .diff{
    overflow:auto;
    ul {
      background: #fff;
      overflow: auto;
      font-size: 13px;
      list-style: none;
      margin: 0;
      padding: 0;
      display: table;
      width: 100%;

      li {
        padding: 0;
        display: table-row;
        margin: 0;
        height: 1em;

        &.ins {
          background: #dfd;
          color: #080;
        }

        &.del {
          background: #fee;
          color: #b00;
        }

        &.diff-comment {
          display: none;
        }

        &.diff-block-info {
          background: none repeat scroll 0 0 grey;
        }
      }
    }
    del, ins {
      display: block;
      text-decoration: none;
    }
    del, ins, span {
      white-space: pre-wrap;
      font-family: courier;
    }
    del strong {
      font-weight: normal;
      background: #fcc;
    }
    ins strong {
      font-weight: normal;
      background: #9f9;
    }
  }
}
